/* Import Stylesheets */
@import url('../default/reset.css');
@import url('../default/classes.css');
@import url('../style/main.css');

/* Import Plugins */
@import url('../../plugins/slick/slick.css');
@import url('../../plugins/slick/slick-theme.css');
@import url('../../plugins/fontawesome/css/all.css');

/* font-family: 'Lato', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Source Sans Pro', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* font-family: 'Montserrat', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* Branding Colors */
    --co: #005ca8;
    --co-1: #6eb551;

    /* Color */
    --co-text-bold: #0a2858;
    --co-text: #030c1a;
    --co-text-fade: #a6a8aa;

    --co-white: #fff;
    --co-black: #000;

    --co-select: #005ca83b;

    /* Border */
    --co-bdr-fade: #eff3f6;
    --co-bdr: #e6e6e6;

    /* Background */
    --bg-fade: #f5f5f5;

    /* Box shadow */
    --box-shadow: 0 15px 60px rgba(0,0,0,.08);
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    /* Height */
    --h-header: 100px;
    --footer-fixed: 500px;

    /* Fonts */
    --f: 'Lato', var(--f-var);
    --f-bold: 'Montserrat', var(--f-var);
    --f-var: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1250px;
    height: 100%;

    margin: 0 auto;
}

@media (max-width: 1250px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section{
        padding-top: 25px;
        padding-bottom: 50px;
    }
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Effect */

.vibrancy{
    backdrop-filter: blur(20px) saturate(250%);
    -webkit-backdrop-filter: blur(20px) saturate(250%);
    -moz-backdrop-filter: blur(20px) saturate(250%);
    -o-backdrop-filter: blur(20px) saturate(250%);
    -ms-backdrop-filter: blur(20px) saturate(250%);
}

/* Text */

.text-1{
    font-size: 1.5em;
}

h1,h2,h3{
    color: var(--co-text-bold);
}

h1,h2,h3,h4{
    font-family: var(--f-bold);
}

/* Buttons */

.btn-1{
    display: inline-block;
    color: var(--co-white);

    padding: 7px 25px;

    background: var(--co-1);

    font-weight: 600;

    border-radius: 360px;
    text-transform: uppercase;
    font-family: var(--f-bold);
    font-size: 15px;
    font-weight: 700;
}
.btn-1:hover{
    background: var(--co);
}

/* Grid  */

.grid{
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    display: grid;
}

.grid_2{
    grid-template-columns: repeat(2, 1fr);
}

.grid_3{
    grid-template-columns: repeat(3, 1fr);
}

.grid_4{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 23px;
}

/* Block Cursor */

.no-sk{
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}