@import url('../css/reset.css');
@import url('../css/punaise.css');

/** Webfonts **/
@import url('../../fonts/euc/style.css');
@import url('../../fonts/caros/stylesheet.css');

/** Pages **/
@import url('../style/index.css');

:root{
/** Color Principal **/ 
    --co: #01a3c2;
    --co-1: #dd2481;
    --co-a: #1c1e24;

/** Additional Colors **/
    --co-select: #dd2481;
    --co-white: #fff;
    --html-bg: #f2f5fa;

/** Color Text **/
    --co-text: #303033;
    --co-text-fade: #7a7a83;

/** Backgrounds  **/
    --bg-fade: rgba(28, 30, 36, 0.664);

/** Borders **/
    --co-bdr: #2d2d3175;
    --co-bdr-fade: #34343b3f;
    --co-bdr-dark: #34343b0e;

/** Fonts Text **/
    --f: 'Caros Soft', var(--f-variables);
    --f-keke: 'KEKE', var(--f-variables);
    --f-variables: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.html-bg{
    background: var(--html-bg);
}

/** Layout **/

.container{
    margin: 0 auto;
    height: 100%;
    width: 1200px;
}

.cardDown{
    margin: 0 auto;
}

@media (min-width: 768px) {
    .cardDown{
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    body{
        font-size: 15px;
    }

    .cardDown{
        width: 88%;
    }

    .profil{
        width: 80px;
        height: 80px;
    }

    .cardUp{
        padding-top: 15px;
    }
    
    .cardUp .name{
        font-weight: 500;
        font-size: 22px;
    }

    .cardUp .pseudo{
        font-size: 13px;
    }

    .cardDown{
        padding-top: 10px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .CardUlLi{
        margin: 14px 0;
    }

    .CardLiA{
        padding: 14px 0;
        font-weight: 500;
    }

    .cardFooter{
        padding-top: 45px;
    }

    .cardFooter .cc{
        font-size: 12px;
        font-weight: 600;
        font-family: var(--f-keke);
    }

}