###################################################################################################

# Force SSL
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Options is required by Many Hosting + Remove file extension & add a trailing slash /
Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

###################################################################################################

DirectoryIndex index.php index.html index.htm index2.html index.h index.ht index.htm


ErrorDocument 400 https://kesnel.link
ErrorDocument 401 https://kesnel.link
ErrorDocument 403 https://kesnel.link
ErrorDocument 404 https://kesnel.link
ErrorDocument 500 https://kesnel.link
ErrorDocument 503 https://kesnel.link